/* CSS declarations go here */

// @import url("https://use.typekit.net/rxk7oiv.css");
$css--plex: true;
$primary-color: #fff;
$font-stack:'ibm-plex-mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier;

// BASIC STYLES //

* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  height: 100vh;
  font-family: $font-stack;
  color: $primary-color;
  // line-height: 1.25;
  background-color: #2F2F2F;
  // background-image: url(assets/MarcoWrightProfile.png);
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  // height: 100%;
}

h1, h2, h3, header p {
  font-family: "gastromond",sans-serif;
}

p {
  line-height: 1.4;
}

a {
  color: $primary-color;
}




// IMAGE & CIRCLE //

.title h3 {
  display: inline-block;
  position: relative;
}

.body__header--title h3::before {
  content: ' ';
  z-index: -1;
  width: 1.25rem;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  top: -52px;
  left: 50%;
  height: 120%;
  background: #A58166;
}


.body__img {
  position: relative;
  // overflow-x: hidden;
  // overflow-y: -moz-hidden-unscrollable;
}

#circle {
  position: absolute;
  top: calc(100vh - 890px); // previous value -16px;
  left: calc(100vw - 700px); // previous value 777px;
  width: 46rem;
  height: 46rem;
  background-image:
  linear-gradient(
      #A58166,
      #0B0907
    );
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
  clip-path: inset(0px 0px 255px -40px);
}

.body__img img {
  position: absolute;
  left: calc(100vw - 800px); // previous value 641px;
  top: calc(100vh - 932px); // previous value -61px;
  z-index: 101;
  // height: 80vh;
  // transform: translate(240px, -520px);
  // clip-path: inset(10px 20px 30px 40px);
}


// PAGE CONTAINER //

.container {
  height: 100vh;
  overflow: hidden;
  // width: 1440px;
  // display: grid;
  // grid-template-rows: auto 1fr 1fr auto;
  // grid-template-areas: 
  // "header header" 
  // "title title" 
  // "content image" 
  // "footer footer"
}

// .container > * {
//   border: 2px solid yellow;
// }


// NAVIGATION //

header {
  // padding-top: 32px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-area: header;
}

header nav {
  // justify-self: end;
}

nav a {
  margin-left: 2.5rem;
}


// CONTENT //

.body__content {
  // grid-area: content;
}

.body__content p {
  padding-left: 5rem;
  // width: 50%;
  z-index: 102;
  font-weight: lighter;
}

.body__content p em {
  position: relative;
}

 em::before {
    content: ' ';
    position: absolute;
    background: #A58166;
    width: 100%;
    height: 47%;
    z-index: -1;
    bottom: 0px;
    transition: .2s;
}

.body__header--title {
  position: relative;
  padding-top: 48px;
  // display: grid;
  // grid-area: title;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 15px;
  // grid-template-areas: "Title . . Name";
  // margin-top: 64px;
}

.body__header--title h2 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.0);
  -webkit-text-stroke: 2px white;
  // transform: rotate(90deg) translate(50px, 0);
  // grid-area: Name;
  // grid-row: 3 / 5;
  z-index: 101;
  position: absolute;
  transform: rotate(90deg);
  top: 164px;
  left: calc(100vw - 345px); // previous value 1099px;
}

.body__header--title h3 span:last-child {
  padding-left: 5rem;
}

.body__header--title h3 span:first-child {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px white;
  padding-left: 2.5rem;
}

.body__img {
  // display: grid;
  // grid-template-columns: 1fr auto;
  // min-height: 44%;
  // margin-top: -87px;
  height: 100%;
}

.body__img--marco {
  // grid-area: image;
}


// FOOTER //

footer {
  // display: flex;
  // grid-template-columns: 1fr fit-content(200px);
  // grid-area: footer;
  // width: 100%;
  position: absolute;
  bottom: 0px;
  min-height: calc(17vh - 140px);
  padding-left: 2.5rem;
  justify-content: space-evenly;
  z-index: 104;
}

.nav__secondary {
  height: 100%;
  width: 55%;
  background-color: aquamarine;
}

footer .social {
  z-index: 101;
}

.social img {
  width: 2.25rem;
}

// footer > a:first-child {
//   padding-left: 2.5rem;
// }

// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
//   // grid-auto-rows: 200px;
//   grid-template-areas:
//     "a a a "
//     "b b . "
//     "c c c ";
// }

// .item1 {
//   grid-area: a;
//   align-self: center;
//   justify-self: center;
// }

// MEDIA QUERRIES //

@media (max-width:977px) {

  #circle {
    width: 30rem;
    height: 30rem;
    top: calc(100vh - 96%);
    left: calc(100vw - 50%);
  }

  .body__img img {
    width: 60%;
    left: calc(100vw - 60%);
    top: calc(100vh - 108%);
  }

}

@media (max-width:907px) {

  .body__img img {
    display: none;
  }

  footer {
    width: 100% !important;
  }


}


@media (max-width:768px) {

  .body__header--title h2 {
    font-size: 4.5rem;
    top: 133px;
    left: calc(100vw - 268px);
  }
  }

  .body__header--title h3 {
    font-size: 4rem;
  }

  .body__content {
    padding-top: 86px;
    width: 71%;

}

// @media (max-width:570px) {
//   nav a {
//     margin-left: 1.25rem;
//   }
// }


// @media (max-width:479px) {
  
//   .body__header--title h2 {
//     // opacity: 0;
//   }

// }

@media (max-width:570px) {

  header p {
    display: none;
  }

  nav a {
    margin-left: 1rem;
  }

  div.container header {
    justify-content: space-around;
  }

  .body__header--title h2 {
    text-align: center;
    font-size: 3.25rem;
    position: initial;
    -webkit-text-stroke: 1px;
    transform: initial; 
  }

  .body__header--title h3 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0;
    margin-top: 16px;
  }

  section.body__content {
    padding-top: 48px;
    width: 100%;
  }

  .body__content p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  #circle {
    top: calc(100vh - 87%);
    left: calc(100vw - 108%);
  }

  footer {
    padding-left: 0;
  }

  .body__img > img {
    
  }

}